module.exports = {
  NODE_ENV: '"production"',
  VUE_APP_TEST_ID: '"testing_username"',
  VUE_APP_TEST_PASS: '"testing_password"',
  APP_SERVER_KEY: '"server_key"',
  BASE_URL: '"https://example.com"',
  SERVER_FILES_URL: '"https://example.com/uploads/"'
}